.form-login {
    animation: show-form-login 1s ease-in-out forwards;
}



@keyframes show-form-login {
    0% {
        opacity: 0;
        height : 0 !important;

    }

    100% {
        opacity   : 1;
        height    : auto;
        margin-top: 50px;
    }
}